Source: lpcnet
Maintainer: Rafael Diniz <rafael@rhizomatica.org>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
 debhelper (>= 9),
 autotools-dev,
 dh-autoreconf
Homepage: https://github.com/mozilla/lpcnet

Package: lpcnet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LPCNet Audio Encoder
